<ion-content>

  <div class="logo-wrap">
    <div text-center class="logo">
      <img src="assets/img/logo.png" alt="avatar">
    </div>
  </div>
  <div>
    <p text-center class="sub-title">
      {{title}}
    </p>
  </div>


  <ion-list text-center margin-horizontal class="round-box" *ngIf="!show">

    <ion-item text-center class="email">
      <ion-input type="email" placeholder="Email ID" text-center></ion-input>
    </ion-item>

    <ion-item text-center class="pass mb-20">
      <ion-input type="password" placeholder="Password" text-center></ion-input>
    </ion-item>

  </ion-list>

  <ion-list text-center margin-horizontal class="round-box big" *ngIf="show">


    <ion-item text-center class="name">
      <ion-input type="text" placeholder="Name" text-center></ion-input>
    </ion-item>
    <ion-item text-center class="email">
      <ion-input type="email" placeholder="Email ID" text-center></ion-input>
    </ion-item>
    <ion-item text-center class="ph">
      <ion-input type="tel" placeholder="Phone Number" text-center></ion-input>
    </ion-item>

    <ion-item text-center class="birth">
      <ion-datetime placeholder="Date of Birth" displayFormat="MMM/DD/YYYY" pickerFormat="MMM DD YYYY" [(ngModel)]="myDate"></ion-datetime>
    </ion-item>

    <ion-item text-center class="pass">
      <ion-input type="text" placeholder="Password" text-center></ion-input>
    </ion-item>

    <ion-item text-center class="pass mb-20">
      <ion-input type="password" placeholder="Confirm Password" text-center></ion-input>
    </ion-item>

  </ion-list>



  <div text-center margin-horizontal *ngIf="!show">
    <button ion-button class="btn orange-btn pop-in" (tap)="gotohome()">LOGIN</button>
  </div>
  <div text-center margin-horizontal *ngIf="show">
    <button ion-button class="btn orange-btn pop-in" (tap)="continueReg()">Register</button>
  </div>


</ion-content>
<ion-footer>
  <div class="bottom-part">
    <p float-left text-center class="link" (tap)="forgotPass()" *ngIf="!show">Forgot Password?</p>

    <p float-right text-center class="link" (tap)="registration()" [class.full-width]="show">{{txtval}}</p>
  </div>

</ion-footer>
