// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@font-face {
  font-family: 'playregular';
  src: url('../assets/fonts/play-regular-webfont.woff2') format('woff2'), url('../assets/fonts/play-regular-webfont.woff') format('woff'), url('../assets/fonts/play-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../assets/fonts/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local('Material Icons'), local('MaterialIcons-Regular'), url('../assets/fonts/MaterialIcons-Regular.woff2') format('woff2'), url('../assets/fonts/MaterialIcons-Regular.woff') format('woff'), url('../assets/fonts/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 1.5em;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
}

button,
.button {
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 10px 30px;
  text-transform: uppercase;
}

.btn {
  margin: 0px;
  height: 44px;
  border-radius: 30px;
  text-transform: uppercase;
  font-size: 1.6rem;
}

.orange-btn {
  width: 100%;
  background-color: $mainbtn;
  color: #fff;
}

.fb-btn {
  width: 100%;
  color: #fff;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

/* =======header style=========== */

.header-md::after {
  background: none;
}

.header-ios .toolbar-ios:last-child .toolbar-background-ios {
  border: none;
}

ion-footer {
  font-family: 'playregular';
}

ion-navbar,
ion-navbar .toolbar-background {
  background-color: $orange;
  span,
  .toolbar-title {
    font-weight: 300;
    font-size: 1.7rem;
    color: #fff;
    text-transform: capitalize;
    font-family: 'playregular';
  }
  ion-icon,
  .material-icons {
    color: #fff;
    font-size: 2.4rem;
  }
}

/* =====page style==== */

.content,
.scroll-content {
  font-family: 'playregular';
}

/* =====side bar====== */

ion-menu ion-content .scroll-content::-webkit-scrollbar {
  display: none;
}

ion-menu ion-content {
  background-color: #2e2e2e;
}

ion-menu .header::after,
ion-menu .header-md::after {
  display: none;
}

.menu-wrap {
  background-color: #2e2e2e;
  .list-ios>.item-block:last-child,
  .list-ios>.item-block:first-child {
    border: none;
  }
}

.sidebar {
  background-image: url('../assets/img/dark-shadow-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #2e2e2e;
  padding-top: 18px;
  padding-bottom: 14px;
  .profile-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    ion-avatar {
      border: 2px solid #ededed;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      min-width: 60px;
      min-height: 60px;
      overflow: hidden;
      margin: 0px 0px 0px 10px;
      img {
        max-width: 100%;
        height: auto;
        margin: auto;
        border-radius: 0;
        overflow: hidden;
      }
    }
    .input-wrapper {
      height: auto;
    }
    h4 {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 4%;
      flex: 1 1 54%;
      max-width: 54%;
      color: #fff;
      font-size: 15px;
      font-weight: 400;
      margin: 0px 10px;
      overflow: hidden;
      text-transform: capitalize;
      font-family: 'playregular';
    }
    i {
      color: #ffffff;
      font-size: 2.6rem;
    }
  }
}

.menus {
  border-top: 0;
  border-bottom: 0;
  margin-top: 3px;
  margin-bottom: 0px;
  padding-left: 16px;
  .icons {
    margin: 0px;
    width: 36px;
  }
  ion-icon {
    margin: 0px;
    font-size: 1.3em;
  }
  ion-item,
  .item-md,
  .item-ios {
    min-height: 4rem;
    padding-left: 4px;
    background-color: transparent;
    -webkit-transition: background 200ms ease-in-out;
    transition: background 200ms ease-in-out;
    .item-inner {
      border-bottom: 1px solid #292325;
      background-image: none;
    }
  }
  button.item-ios:not([detail-none]) .item-inner {
    background-image: none;
  }
  .input-wrapper {
    height: auto;
    color: #fff;
    ion-label,
    .label-ios,
    .label-md {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      margin: 5px 8px 5px 0;
      .menu-name {
        font-family: 'playregular';
        text-transform: capitalize;
        font-size: 1.4rem;
        padding-left: 0px;
      }
    }
  }
  .active {
    background-color: #c12d2e;
    padding-left: 4px;
    .item-inner {
      background-color: #180f12;
    }
  }
  .seperator {
    padding: 5px 20px 5px 30px;
    background-color: rgba(132, 32, 77, 0.753);
    margin: 0px 0px;
    font-size: 13px;
    color: #b3abab;
  }
}

.menus>.item-block:last-child .item-inner,
.menus>.item-wrapper:last-child .item-inner,
.menus>.item-block:last-child .item-inner,
.menus>.item-wrapper:last-child .item-inner,
  {
  border-bottom: none;
}

/* =====side bar====== */

/* ======my account gamelist start===== */

.gamelist {
  margin: 0px 0px 16px;
  .list-item {
    border: 1px solid $list-border;
    padding: 5px 5px;
    background: #fff;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    .item-inner {
      padding: 0px;
      font-size: 1.4rem;
      .name {
        color: $blue;
        font-size: 1.4rem;
        margin-bottom: 10px;
      }
      .date,
      time {
        color: #a0a0a0;
        font-size: 1.3rem;
      }
    }
    .item-pic {
      margin: 0px 8px 0px 0px;
      min-width: 65px;
      max-width: 76px;
      height: auto;
      min-height: auto;
      img {
        width: auto;
        height: auto;
        max-width: 100%;
      }
    }
    .status {
      border-radius: 3px;
      color: #eee;
      padding: 5px 10px;
      margin: 0px 5px;
      font-size: 1.3rem;
    }
    .green {
      background-color: #339b30;
    }
    .red {
      background-color: #9e2b2b;
    }
    .btn-remove {
      background-color: $orange;
      padding: 10px 10px;
    }
  }
}

/* ======my account gamelist start===== */

/* Alert Design  */

.alert-wrapper .alert-head {
  background: -webkit-gradient(linear, left top, right top, from(#bd3f32), to(#7c193d)) !important;
  background: linear-gradient(to right, #bd3f32 0%, #7c193d 100%) !important;
  background-color: #bd3f32;
  color: #fff !important;
  padding: 14px 0 !important;
  text-align: center !important;
  h2 {
    margin: 0px !important;
    font-size: 15px;
    font-weight: bold;
  }
  .alert-message {
    margin-top: 16px;
    font-size: 17px;
    color: #505050;
    text-align: center;
  }
}

.alert-md .alert-button-group,
.alert-button-group {
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 0px;
  .minimain-btn {
    margin: 0px auto 16px;
    text-align: center;
    width: 40%;
    background-color: $mainbtn;
    border-radius: 30px;
    color: #fff;
    text-transform: uppercase;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .minisec-btn {
    margin: 0px auto 16px;
    text-align: center;
    width: 40%;
    background-color: $mainbtn;
    border-radius: 30px;
    color: #313131;
    text-transform: uppercase;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.alert-md .alert-message,
.alert-ios .alert-message {
  margin-top: 16px;
  font-size: 17px;
  color: #505050;
  text-align: center;
}

.alert-ios .alert-message:empty,
.alert-md .alert-message:empty {
  display: none;
}

.alert-ios .alert-button,
.alert-md .alert-button {
  background-color: $mainbtn;
  color: #fff;
}

.alert-md .alert-button-group {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.alert-md .alert-button .button-inner {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.alert-md .alert-button {
  background-color: $mainbtn;
  color: #fff;
  width: 49.8%;
  margin: 0px;
  border-radius: 0px;
}

/* Alert Design  */
